header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
     background-color: rgba(71, 81, 89, 0.8);
    font-size: 20px;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

body{
    margin: 0px;
 
}
a{
    color: white;
    text-decoration: none;
    flex-direction: row;
    margin-right: 20px;
    font-size: 20px ;
}
.home{
    color: #4AB7E4;
    border: #4AB7E4 2px solid ;
    padding: 10px 10px;
    
}

.e{
    color: #4AB7E4;

}

h1{
    color: white;
}

.titulo1{
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   

  
  
}

.seccion1{
    background-image: url(/assets/Fondo.png);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion2{
    background-color: #4BCAFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40vh;
    
}

.logitos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
  
}

.barra {
    display: flex;
    color: #9CA3A8;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    
}

.barra a{
    color: #9CA3A8;
    margin-right: -200px;
    margin-left: -300px;
    font-size: 20px;

    
}

.titulo2{
    margin-left: -220px;
    font-size: 40px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);  
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.a{
    color: #4BCAFF;
    border: #4AB7E4 2px solid;
    padding: 3px 20px;
}

.titulo2::after{
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #9CA3A8;
    margin-top: 5px;
}


.section3{
    padding-bottom: 20px;
   
 
}

.parrafo{
    display: flex;
    flex-direction: column;
    align-items: self-start;

}

.seccion4{
    background-color: #515F67;
    color: #BEC3C5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    
 
}

.seccion4 h2{
    font-size: 30px;
}

.seccion4 p{
    font-size: 20px;
}

.titulo3::after{
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #FFFFFF   ;

}


.boton1{
    background-color: #515F67;
    padding: 15px 40px;
    border-radius: 3px;
    border: #364148 2px solid; 
    
   
    
}