
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');




header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
     background-color: rgba(71, 81, 89, 0.8);
    font-size: 20px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

h2,p,h1,a{
    font-family: "Noto Sans" sans-serif;
}
body{
    margin: 0px;
}
a{
    color: white;
    text-decoration: none;
    flex-direction: row;
    margin-right: 20px;
    font-size: 20px ;
}
.home{
    color: #4AB7E4;
    border: #4AB7E4 2px solid ;
    padding: 10px 10px;
    
}

.e{
    color: #4AB7E4;

}

h1{
    color: white;
}

.titulo1{
    font-size: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   

  
  
}

.seccion1{
    background-image: url(/assets/Fondo.png);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion2{
    background-color: #4BCAFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    height: 40vh;
    
}

.logitos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    margin-left: 100px;
  
}

.barra {
    display: flex;
    color: #9CA3A8;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
    
}

.barra a{
    color: #9CA3A8;
    margin-right: -200px;
    margin-left: -300px;
    font-size: 20px;

    
}

.titulo2{
    margin-left: -220px;
    font-size: 40px;
}

.contenedor{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);  
    gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.a{
    color: #4BCAFF;
    border: #4AB7E4 2px solid;
    padding: 3px 20px;
}

.titulo2::after{
    content: "";
    display: block;
    width: 65px;
    height: 3px;
    background-color: #9CA3A8;
    margin-top: 5px;
}


.section3{
    padding-bottom: 20px;
   
 
}

.parrafo{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-left: 180px;

}

.seccion4{
    background-color: #515F67;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50vh;
    
 
}

.seccion4 h2{
    font-size: 30px;
}

.seccion4 p{
    font-size: 20px;

}

.titulo3::after{
    content: "";
    display: block;
    height: 2px;
    width: 50px;
    background-color: #FFFFFF   ;

}


.boton1{
    background-color: #515F67;
    padding: 15px 40px;
    border-radius: 3px;
    border: #101111 2px solid; 
    
   
    
}

.seccion5{
    background-color: #4BCAFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
   
   
}

.redes{ 
    display:flex;
    justify-content: space-around;
    align-items: center;
   
}

.seccion5 p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -250px;
    font-size: 25px;
    color: white;
   line-height: 50px;
}


.titulo4{
    color: white;
    font-size: 40px;
    margin-left: -70px;
}

.titulo4::after{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: white;
}


.seccion6{
    display: flex;
    background-image: url(/assets/bg_whoIs.png);
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 50vh;
   
}

.seccion6 p{
    font-size: 18px;
    line-height: 30px;
}

.seccion6 img{
    margin-top: 20px;
    margin-right: 15px;
}

.titulo5{
    color: white;
}

.parrafo1{
    margin-left: 280px;
}


.seccion7{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.testimonio{
  display: flex;
  justify-content: space-around;
  width: 220vh;
}

.seccion7 h2{
    font-size: 30px;
    color: #B5BABC;
}

.titulo6::after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #B5BABC;
}
.p1{
    font-size: 30px;
    margin-left: -70px;
    color: #B5BABC;
    line-height: 50px;
}

.p2{
    color: #4BCAFF;
    display: flex;
    margin-left: -70px;
    
   
}


.content{
    display: flex;
}

.seccion8{
    background-image: url(/assets/bg_contact.png);
    height: 80vh;
    display: flex;
    justify-content: space-between;
}


.contact{
    font-size: 20px;
    color: white;
    line-height: 40px;
}


.titulo7{
    font-size: 30px;
    color: white;

}

.titulo7::after{
    content: "";
    display: block;
    background-color: white;
    height: 2px;
    width: 30px;
}

label{
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin: 15px 0 5px;
    letter-spacing: 1px;
    
}

input{
    border: #FFFFFF 1px solid;
    background-color: transparent;
    height: 60px;
    width: 60vh;
    margin-bottom: 20px;


}

textarea{
    border: #FFFFFF 1px solid;
    background-color: transparent;
    height: 200px;
    width: 100vh;
    margin-bottom: 20px;
   

}


.formulario{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 380px;
    margin-right: 0;
}


.formulario button{
  background: #00bfff; 
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  width: 300px;
}

.formulario button:hover{
    background-color: #009acd;
}

.contact{
  width: 45%;
  font-size: 15px;
  line-height: 1.6;
  margin-left: -200px;
  margin-top: 100px;
}
.casilla1{
    display: flex;
    flex-direction: column;
}

footer{
    background-color: #353F47;
    color: #63686b;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer p {
    margin: 0;
}